@import "tailwindcss";

@theme {
  --color-primary: #fe7f32;
  --color-secondary: #101928;
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

@keyframes loader {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-6px);
    opacity: 1;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 1.8s ease-in-out infinite;
}

.animate-loader {
  animation: loader 0.9s infinite;
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
